{% blockset content }
    <div>
        <h2>Hello Fellas! <span style='margin-right: .3cm'></span> I'm <b>Jan</b>!</h2>
        <p>
            But please call me <b>Natrix</b>.<br/>
            I am currently a student at the <b>K</b>arlsruhe <b>I</b>nstitute of <b>T</b>echnology (KIT).<br/>
            I love <b>Computers</b>, but also discussions about politics.<br/>
            My favorite programming language is
            <a href='https://www.rust-lang.org/'><b>
                <img style='filter: invert(100%); height: 1em; vertical-align: middle;' src='https://www.rust-lang.org/logos/rust-logo-blk.svg'></img>
                Rust
            </b></a>.<br/>
        </p>
    </div>
{% end }{% include include/main.html }
