{% extends "base.html" %}

{% block base_content %}
    <div class='global-card-container'>
        <div class='global-card'>
            <div class='navbar'>
                <a href='{{config.extra.github_profile_url}}' class='navbar-item'>
                    <div class='display-flex'>
                        <img src='images/github-mark.png'>
                        <span class='navbar-item-text'>Github Profile</span>
                    </div>
                </a>
                <a href='/' class='navbar-item'>
                    <div class='navbar-item-text'>About Me</div>
                </a>
            </div>
            <a href='/' class='page-title'>
                Natri<span class='title-rotating-x'>x</span>Hub
                <span class='blink-line-container'><span class='blink-line'></span></span>
            </a>
        </div>
    </div>
    <div class='global-card-container'>
        <div class='global-card'>
            <hr class='line-separator' style='margin-bottom: 1cm'>
            <div class='content-card-container'>
                <div class='content-card'>{%block content%}{%endblock%}</div>
            </div>
        </div>
    </div>
{% endblock base_content %}
