{% blockset body }
    <div class='global-card-container'>
        <div class='global-card'>
            <div class='navbar'>
                <a href='https://github.com/natrixaeria' class='navbar-item'>
                    <div class='display-flex'>
                        <img src='images/github-mark.png'>
                        <span class='navbar-item-text'>Github Profile</span>
                    </div>
                </a>
                <a href='/' class='navbar-item'>
                    <div class='navbar-item-text'>About Me</div>
                </a>
            </div>
            <div class='page-title'>
                Natri<span class='title-rotating-x'>x</span>Hub
                <span class='blink-line-container'><span class='blink-line'></span></span>
            </div>
        </div>
    </div>
    <div class='global-card-container'>
        <div class='global-card'>
            {% get content }
        </div>
    </div>
{% end }{% include include/base.html }
