{% blockset body }
    <div class='global-card-container'>
        <div class='global-card'>
            <hr class='line-separator'>
            <div class='page-title'>
                Natri<span class='title-rotating-x'>x</span>Hub
                <span class='blink-line-container'><span class='blink-line'></span></span>
            </div>
        </div>
    </div>
    <div class='global-card-container'>
        <div class='global-card'>
            {% get content }
        </div>
    </div>
{% end }{% include include/base.html }
