@font-face{
    font-family: 'Zilla Slab';
    src: url('fonts/ZillaSlab-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Zilla Slab';
    src: url('fonts/ZillaSlab-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face{
    font-family: 'Zilla Slab';
    src: url('fonts/ZillaSlab-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Zilla Slab';
    src: url('fonts/ZillaSlab-RegularItalic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: 'Zilla Slab';
    src: url('fonts/ZillaSlab-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Zilla Slab';
    src: url('fonts/ZillaSlab-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face{
    font-family: 'Zilla Slab';
    src: url('fonts/ZillaSlab-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: 'Zilla Slab';
    src: url('fonts/ZillaSlab-SemiBoldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
}

@font-face{
    font-family: 'Zilla Slab';
    src: url('fonts/ZillaSlab-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: 'Zilla Slab';
    src: url('fonts/ZillaSlab-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}

@font-face{
    font-family: 'Zilla Slab Highlight';
    src: url('fonts/ZillaSlabHighlight-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Zilla Slab Highlight';
    src: url('fonts/ZillaSlabHighlight-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
